@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-loading-bar {
    animation: loading-progress 1.5s ease-in-out infinite;
  }
}

@keyframes loading-progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}

*:focus {
  @apply outline-offset-4 outline-blue-500;
}
